@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  background: #2f4137;
  border-radius: 10px;
}

.mb-10 {
  margin-bottom: 100px;
}

.mb-8 {
  margin-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 60px;
}

.mb-6 {
  margin-bottom: 60px;
}

.mb-4 {
  margin-bottom: 3rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.over-flow-h {
  overflow: hidden;
}

.main-btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #3e5541;
  color: #fff;
  transition: 0.3s ease-in-out;
  border: 1px solid transparent;
  outline: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 400;
}

.main-btn:hover {
  border-color: #3e5541;
  background-color: #fff;
  color: #3e5541;
}

header.site-header.shadow {
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px !important;
  background: #000;
  padding: 0.5rem 0;
}

/* header section css start */
.site-header {
  padding: 1.875rem 0;
  width: 100%;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.3s ease;
}

.site-header.fixed {
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid #d9e1e6;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo-img {
  /* background-image: url(../images/gladlly-remove-logo.png); */
  background-image: url("../images/logo-webapge.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 5.875rem;
  width: 9.375rem;
  filter: brightness(0) invert(1);
}

.fixed .logo-img {
  filter: brightness(0) invert(0);
}

.main-nav ul li a {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  position: relative;
}

.main-nav ul li a::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #9cd0a3;
  transition: all 0.3s linear;
}

.fixed .main-nav ul li a::before {
  background-color: #9cd0a3;
}

.main-nav ul li a:hover::before,
.main-nav ul li a.active::before {
  width: 100%;
}

.fixed .main-nav ul li a {
  color: #333;
}

.main-nav ul li a:hover,
.main-nav ul li a.active {
  color: #9cd0a3;
}

.main-nav ul li {
  display: inline-block;
  margin-left: 1.25rem;
}

.main-nav ul li:first-child {
  margin-left: 0;
}

.main-nav ul {
  text-align: right;
}

.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close,
.toggle,
.over-lay {
  display: none;

}

.toggle svg {
  height: 25px;
  width: 25px;
  fill: #fff;
}

.close svg {
  height: 25px;
  width: 25px;
}

/* header section css end */
/* banner section css start  */
.site-banner {
  height: 100vh;
  position: relative;
}

.banner-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.banner-video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-video::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  max-width: 750px;
  margin-inline: auto;
}

.banner-wrap h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 130%;
  color: #fff;
}

h1.banner-title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

p.small-text {
  font-size: 20px;
  color: #ebd7b2;
  line-height: 27px;
}

/* banner section css end */
/* home about section  css start */
.about-section {
  background-color: #fff;
  background-image: url(../images/abt-pattern.png);
  background-position-x: left;
  background-position-y: top;
  background-size: initial;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-origin: initial;
}

.about-section .small-text {
  color: #978667;
}

.about-img-bx {
  height: 100%;
  width: 100%;
  position: relative;
}

.abt-img,
.abt-img-float,
.hotel-link-img {
  background-image: url(../images/after-banner-images1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 0.625rem;
}

.about-section .row,
.hotels-link-sec .row {
  justify-content: space-between;
}

.about-text {
  padding: 9.375rem 0;
}

.about-text p {
  margin: 0.9375rem 0 1.875rem 0;
}

p.lead-text a {
  color: #978667;
  font-weight: 600;
}

.abt-img-float {
  left: -70%;
  bottom: 50%;
  position: absolute;
  z-index: 99;
  border: 4px solid #fff;
  width: 60%;
  height: 60%;
  box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.21);
  transform: translate(70%, 50%);
}

.hotel-link-img {
  background-image: url(../images/blog-6.jpg);
}

.hotel-link-text {
  padding: 3.125rem 0;
}

.hotels-link-sec .row {
  margin-bottom: 5.625rem;
}

.hotels-link-sec .row:last-child {
  margin-bottom: 0;
}

/* home about section css end */
/* featured las vegas css start */

.featured-hotel-heading {
  text-align: center;
  margin-bottom: 3rem;
}

.featured-hotel-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0 0;
}

.inner-wrap {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 100%;
}

.hotel-text {
  padding: 1.8rem 1.5rem;
}

.hotel-text h4 {
  color: #3e5541;
  margin-bottom: 0.8rem;
}

.hotel-text p {
  margin-bottom: 0.6rem;
}

.hotel-text p:last-of-type {
  margin-bottom: 0;
}

.hotel-inner-second {
  margin-top: 20px;
}

/* featured las vegas css end */

/* Why Use Gladlly section start */

.why-use-gladlly-heading {
  text-align: center;
  margin-bottom: 3rem;
}

/* find las vegas hotel section start */

.right-hotel-heading {
  text-align: center;
  margin-bottom: 4rem;
}

/* Basic card styling */
.card {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

/* Card content styling */
.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  transition: transform 0.5s ease;
  transform: translateY(100%);
}

/* Heading styling */
.card-heading {
  font-size: 18px;
  margin: 0;
}

/* Text styling */
.card-text {
  margin: 10px 0 0;
  opacity: 0;
  font-size: 1rem;
  transition: opacity 0.3s ease 0.2s;
}

/* Hover effect */
.card:hover .card-content {
  transform: translateY(0);
}

.card:hover .card-text {
  opacity: 1;
}

/* find las vegas hotel section end */
/* Why Use Gladlly section start */

.faq_wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.accordion-button {
  color: white;
}

.accordion-button:not(.collapsed) {
  color: white;
}

.accordion-button::after {
  color: white;
  filter: invert(1);
}

.accordion-button:not(.collapsed)::after {
  filter: brightness(0) saturate(100%) invert(99%) sepia(100%) saturate(2%) hue-rotate(48deg) brightness(104%) contrast(100%);
}

.accordion-flush .accordion-item .accordion-button {
  background-color: #3e5541;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.accordion-flush .accordion-item .accordion-button:focus {
  border-color: transparent;
  box-shadow: 0 0 0 0.5px rgba(13, 110, 253, 0.25);
}

.accordion-body {
  border-radius: 8px;
  margin-bottom: 4px;
}

.accordion-body a {
  color: #2f4137;
}

/* Why Use Gladlly  section end */
/* Signup section */
.explore-section {
  padding-block: 74px;
  background-image: url("../images/signup-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-attachment: fixed;
  /* margin-bottom: 60px; */
}

.signup::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 55%);
  z-index: 0;
}

.signup .container {
  z-index: 1;
  color: var(--white-color);
}

.signup_innerSec {
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  border-radius: 4px;
  padding: 30px 16px;
  background-color: rgb(0 0 0 / 56%);
}

.signup_heading {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 16px;
  text-align: center;
}

.signup_desc {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  text-align: center;
  color: #fff;
}

.signup_form {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: transparent;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 12px;
  border-radius: 8px;
  margin-top: 1.3rem;
}

.signup_input {
  border-radius: 4px;
}

.submit_btn {
  border-radius: 4px;
}

.signup_email {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 65%;
  margin: 0 auto;
  align-items: center;
}

.signup_input {
  padding: 7px 16px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  outline: none;
}

.signup_email::placeholder {
  font-size: 18px;
  font-weight: 400;
}

.signup_form .signup_input {
  width: 100%;
  border: 1px solid transparent;
  padding: 14px 16px;
}

.submit_btn {
  width: 130px;
  color: #fff;
  border-color: transparent;
  background-color: #3e5541;
}

.signup_content {
  max-width: 85%;
  margin-inline: auto;
}

.signup_content h2 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.subscribe_btn:hover {
  border-color: #fff;
  color: #fff;
}

/* disclaimer section start */

.disclaimer-wrap {
  max-width: 62.5rem;
  text-align: center;
  margin: auto;
}

.disclaimer-wrap p a {
  color: #000;
  text-decoration: underline;
  font-weight: 600;
}

.disclaimer-wrap p {
  margin-bottom: 0;
}

/* disclaimer section end */
/* traveler say section start */

.traveler-say-heading {
  text-align: center;
  margin-bottom: 3rem;
}

.-traveler-image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 75px;
}

.accordion-body {
  border-radius: 8px;
  border-left: 4px solid #3e5541;
  margin-bottom: 4px;
}

.traveler-say-inner {
  background-color: blanchedalmond;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgb(50 50 93 / 1%) 0px 50px 100px -20px, rgb(0 0 0 / 8%) 0px 30px 60px -30px;
  transition: 0.4s all ease-in-out;
  border: 2px solid transparent;
}

.traveler-say-inner:hover {
  border-radius: 0 20px;
  background: #3e5541;
  color: #fff;
  border: 2px solid #FFEB3B;
}

.traveler-text {
  text-align: center;
  padding-top: 10px;
}

.traveler-text h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

.travel-button {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
}

/* traveler say section end */
/* footer section */
.footer {
  color: white;
  box-shadow: 1px 1px 20px 1px white;
  background-color: #3e5541;
}

.footer_navbar {
  margin-bottom: 1.5rem;
}

.footer_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer_socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.footer_socialsWrapp {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer a {
  color: white;
}


.footer_content {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-block: 4rem;
}

.footer_icon {
  background-image: url("../images/logo.svg");
  height: 54px;
  width: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
}

.footer_title {
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.footer_link {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 18px;
  color: white;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.footer_link::after {
  width: 0%;
  position: absolute;
  content: "";
  bottom: -6px;
  right: 0;
  background-color: white;
  height: 2px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.footer_link:hover::after {
  width: 100%;
  left: 0;
}

.footer_socialsWrapp {
  display: flex;
  gap: 10px;
}

.footer_social {
  border: 1px solid white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.footer_social:hover {
  background-color: #fff;
  transform: translateY(-5px);
}

.footer_social:hover .social_link {
  filter: brightness(0) saturate(100%) invert(27%) sepia(32%) saturate(352%) hue-rotate(77deg) brightness(98%) contrast(90%);
  border-color: transparent;
}

.social_link {
  background-image: url("../images/facebook.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 24px;
  height: 24px;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  transition: all 0.3s linear;
  filter: invert(1);
}

.social_link--telegram {
  filter: grayscale(1);
}

.footer_copyRight p {
  font-size: 14px;
  margin-bottom: 0;
}

.footer_copyRight a:hover {
  text-decoration: underline;
}

.social_link--fb {
  background-image: url("../images/fb.png");
}

.social_link--inta {
  background-image: url("../images/insta.png");
}

.social_link--twitter {
  background-image: url("../images/twitter.svg");
  filter: grayscale(1);
}

.social_link--linkedin {
  background-image: url("../images/inkedIn.svg");
  filter: grayscale(1);
}

.footer_btm {
  border-top: 1px solid white;
}

.footer_btmSec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem;
  gap: 10px;
  flex-wrap: wrap;
}

.footer_SSlLink {
  background-image: url("../images/ssl-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 120px;
  height: 32px;
  display: block;
}

/* info sec start */
.infoSec {
  margin-block: 4rem;
}

.infoSec_wrap {
  max-width: 1024px;
  width: 100%;
  margin-inline: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 2rem;
  border-radius: 0.25rem;
}

.infoSec_content {
  margin-bottom: 1.5rem;
}

.infoSec_content h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.infoSec_content h4 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 12px;
}

.infoSec_content p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 150%;
}

.infoSec_content p a,
.infoSec_content ul li a {
  color: black;
  transition: 0.3s ease-in-out;
}

.infoSec_content p a:hover,
.infoSec_content ul li a:hover {
  color: #3e5541;
  transition: 0.3s ease-in-out;
}

.infoSec_content ul {
  margin-bottom: 1rem;
}

.infoSec_content ul li {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
  list-style: disc;
}

.infoSec_content .infoSec_listTick li {
  margin-left: 1rem;
  list-style: none;
}

.infoSec_content ul li::marker {
  color: black;
}

/* info sec end */

/* contact page css start */
.reachUs {
  margin-bottom: 4em;
  background-color: #2f4137;
  padding-block: 1rem;
  color: #fff;
}

.reachUs_content p a {
  color: #978667;
}

.reachUs_wrapper {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.reachUs__right {
  width: 48%;
}

.reachUs_content {
  padding: 2rem 0;
  max-width: 750px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.reachUs_content h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 1rem;
}

.reachUs_content p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: .5rem;
}

.contactForm {
  margin-bottom: 4rem;
}

.contactForm_wrapp {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
}

.contactForm_topbar {
  width: 100%;
  text-align: center;
  margin-bottom: 1.2rem;
}

.contactForm_imgWrap {
  width: 48%;
  height: 100%;
}

.form {
  width: 48%;
}

.form_innerTobar {
  display: flex;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.form_wrapper {
  width: 48%;
}

.contactForm_img {
  background-image: url("../images/send-Us-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  height: 350px;
  width: 100%;
}

.form_inner input,
.select_subject,
.form textarea {
  width: 100%;
  padding: 16px;
  outline: none;
  border: 1px solid #e9e9e9;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  background: #f8f8f8;
  font-size: 13px;
  text-transform: uppercase;
}

.form_inner input::placeholder,
.select_subject::placeholder {
  color: #8c8c8c;
}

.form_inner .select_subject {
  color: #8c8c8c;
}

.form_inner .select_subject {
  width: 100%;
  margin-bottom: 1rem;
  padding: 16px;
}

.form_inner textarea {
  width: 100%;
  resize: none;
  padding: 16px;
  margin-bottom: 1rem;
}

.why-use-gladllyBtm {
  margin-block: 1.5rem;
}

.why-use-gladllyBtm p a {
  color: #2f4137;
}

.top-hotel-leftImg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 280px;
  width: 100%;
  margin-bottom: 1rem;
}

/* contact page css end */
.ourmission_imgwrap {
  overflow: hidden;
  transition: 0.3s ease-in-out;
  height: 100%;
  width: 100%;
}

.ourmission_img {
  width: 100%;
  height: 100%;
  background-image: url("../images/mission-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ourmission_content ul li {
  margin-bottom: 0.7rem;
}

.ourmission_content {
  padding: 1.5rem;
}

.gladllyDifferent_inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.gladllyDifferent_sec {
  width: 30%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 4px;
  padding: 1.25rem;
  margin-bottom: 1rem;
  text-align: center;
}

.gladllyDifferent_content h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.gladllyDifferent_secimg {
  background-image: url("../images/gladllyDifferen-img1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 50px;
  height: 50px;
  margin-inline: auto;
  margin-bottom: 0.8rem;
}

.whoWeserve_imgWrap {
  width: 100%;
  height: 100%;
}

.whoWeserve_img {
  background-image: url("../images/whoWeServe-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.whoWeserve_content {
  padding: 24px;
}

.whoWeserve_content ul li {
  margin-bottom: 0.5rem;
}

.commitment_content {
  padding: 1.25rem;
}

.commitment_content ul li {
  margin-bottom: 0.5rem;
}

.commitment_imgwrap {
  width: 100%;
  height: 100%;
}

.commitment_img {
  width: 100%;
  background-image: url("../images/courcommitment-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* affordable page css start */
/* banner section css start */
.affordable-banner {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 28.625rem;
  position: relative;
}

.affordable-banner::before {
  content: '';
  position: absolute;
  background: rgba(0 0 0 / 40%);
  background-blend-mode: multiply;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.banner_box {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  width: 80%;
  transform: translate(-50%, -50%);
}

.banner_box h1 {
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 30px;
}

/* top budget hotel las vegas section start */
.budget-hotel-heading {
  text-align: center;
  margin-bottom: 3rem;
}

.hotel-section {
  border: 1px solid #ddd;
  padding: 20px;
  /* text-align: center; */
  font-family: Arial, sans-serif;
  height: 100%;
  border-radius: 10px;
}

.hotel-image {
  width: 100%;
  height: 280px;
  border-radius: 10px;
}

.hotel-name {
  font-size: 24px;
  margin: 10px 0;
  color: #000;
}

.night-stay,
.hotel-price {
  font-size: 16px;
  margin: 5px 0;
  display: none;
}

.amenities-list {
  list-style-type: none;
  padding: 0;
  margin: 15px 0;
  display: none;
}

.amenities-list li {
  background: #f4f4f4;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.description{
  
}
/* .description {
  font-size: 14px;
  color: #555;
  margin-top: 15px;
  display: none;
} */

.text-close {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.text-close svg {
  height: 17px;
  width: 17px;
  fill: #fff;
}

button.close-text-button {
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 14px;
  margin-top: 9px;
  display: none;
}

button.close-text-button:hover svg {
  fill: #3e5541;
}

.top-hotel-second {
  margin-top: 25px;
}

/* top budget hotel las vegas section end */

/*  Tips for Finding the Best Budget Hotel in Las Vegas section css start  */

.finding-best-budget-hotel-heading {
  text-align: center;
  margin-bottom: 3rem;
}

.budget-hotel-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.Featured-vegasBtn {
  display: flex;
  justify-content: center;
  margin-block: 1.5rem 1rem;
}

.signup_desc strong span {
  font-size: 22px;
}

.budget-hotel-text p span {
  font-size: 1.25rem;
}

.budget-hotel-text {
  padding: 40px 10px;
}
        /* Tp section  CSS Start*/
        .mobile-view {
          display: none;
      }

      .site-header {
          z-index: 999999;
      }

      .tp-bottom-text-wrapper {
          padding: 1.25rem 0;
      }

      .tp-bottom-text-wrapper h3 {
          color: #000;
          margin-bottom: .5rem;
      }

      .top-list-wrap {
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          padding: 1.25rem;
          border-radius: 8px;
          display: flex;
          justify-content: space-between;
          background-color: #0c1317;
          margin: 1.25rem 0;
      }

      .toplist-left {
          width: 47%;
      }

      .tp-logo {
          height: 5rem;
          width: 100%;
          background-color: #ffffff;
          border-radius: 5px;
          position: relative;
          overflow: hidden;
      }

      .tp-logo a {
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          height: 100%;
          width: 100%;
          display: inline-block;
          overflow: hidden;
      }

      .rating-wrap p {
          font-size: 1.2rem;
          color: #fff;
          font-weight: 700;
          margin-bottom: 0;
          line-height: 1.4;
      }

      .rating-wrap {
          display: flex;
          justify-content: space-between;
          margin: 0.75rem 0;
      }

      .rating-txt p span,
      .votes-txt p span {
          display: block;
          font-weight: 700;
      }

      .tp-bottom-text-wrapper p {
          color: #000;
          font-size: 1rem;
      }

      .toplist-right {
          width: 50%;
      }

      .toplist-heading {
          text-align: center;
      }

      .toplist-heading h4 {
          font-size: 22px;
          line-height: 1.1;
          text-align: center;
          color: #fff;
          margin-bottom: 0.625rem;
          font-weight: 800;
      }

      .toplist-heading p {
          font-size: 1.1rem;
          text-align: center;
          color: #fff;
          font-weight: 700;
          max-width: 11.25rem;
          margin: 0 auto;
      }

      .top-list-btn {
          text-align: center;
          margin: 0 auto;
          margin-top: 2rem;
      }

      .tp-cards-section {
          padding: 1.875rem 0;
      }

      .tp-cards {
          background-color: #000000;
          padding: 1.25rem;
          border-radius: 10px;
          color: #fff;
          margin-bottom: 1.25rem;
      }

      .tp-banner {
          position: relative;
          height: 18rem;
          background-position: center;
          background-size: contain;
          padding: 7rem 0;
          background-repeat: no-repeat;
          background-size: cover;
          z-index: 1;
      }

      .tp-banner:after {
          content: "";
          position: absolute;
          top: 0%;
          left: 0%;
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(0 0 0/70%);
          background-blend-mode: multiply;
      }

      .tp-banner-text-group h2 {
          color: #fff;
          text-align: center;
          padding: 0 0.9375rem;
          font-size: 1.875rem;
          margin: 0 auto;
          max-width: 21.875rem;
          /* margin-top: 2rem; */
      }

      .tp-banner-text {
          z-index: 1111;
          position: relative;
      }

      .casino-section h2 {
          color: #fff;
          text-align: center;
          padding: 1.875rem 0;
          font-size: 1.875rem;
      }

      .rating-txt p span,
      .votes-txt p span {
          font-size: 0.9375rem;
      }

      .top-list-btn .shopbtn {
          padding: 12px 34px;
      }

      .Stars {
          font-size: 20px;
          font-family: "Arial", sans-serif;
          position: relative;
          display: inline-block;
      }

      .Stars::before {
          content: "★★★★★";
          letter-spacing: 3px;
          background: linear-gradient(90deg, #fc0 var(--percent), #ccc var(--percent));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          display: block;
      }

      .Stars.Stars--rating99::before {
          --percent: 99%;
      }


      /* TP media query start  */

      /* media query 575 */
      @media(max-width:575px) {

          .desktop-version {
              display: block;
          }

          .mobile-view {
              display: none;
          }

          .tp-logo {
              max-width: 250px;
          }

          .top-list-wrap {
              padding: 20px 40px;
          }

          .top-list-wrap {
              padding: 20px;
          }

      }

      /* media query 525 */
      @media(max-width:525px) {
          .toplist-heading h4 {
              font-size: 21px;
          }

          .rating-txt p span,
          .votes-txt p span {
              font-size: 14px;
          }

          .top-list-btn {
              margin-top: 24px;
          }

          .gamb-logos ul li .btn-logos {
              width: 8.375rem;
          }

      }

      /* media query 480 */

      @media(max-width:480px) {

          .rating-txt p span,
          .votes-txt p span {
              font-size: 12px;
          }

          .top-list-btn .shopbtn {
              line-height: normal;
              padding: 8px 24px;
          }

          .visit-btn {
              padding: 12px 20px;
          }

          .Stars {
              font-size: 18px;
          }

          .gamb-logos ul li .btn-logos {
              width: 6.375rem;
          }

          .tp-butn {
              padding: 0.9375rem 1.875rem 1.125rem;
          }

          .rating-wrap p {
              font-size: 1.1rem;

          }
      }

      /* media query 400 */
      @media(max-width:400px) {
          .tp-banner-text-group h2 {
              font-size: 26px;
          }

          .casino-section h2 {
              font-size: 25px;
          }

          .toplist-heading p {
              font-size: 14px;
          }

          .toplist-heading h4 {
              font-size: 18px;
          }

          .tp-butn {
              padding: 0.875rem;
          }

          .rating-wrap p {
              font-size: 1rem;
          }
      }

      /* media query 350 */
      @media(max-width:350px) {
          .top-list-wrap {
              padding: 15px;
          }

          .tp-logo {
              height: 70px;
          }

          .toplist-heading h4 {
              font-size: 16px;
              font-weight: 700;
          }

          .top-list-btn a {
              padding: 6px 18px;
          }
      }

      /* Tp media query end  */